.pr-widget {
  padding: 0 0 40px 0;
}
.pr-widget__vk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border: 1px solid #efefef;
  height: 200px;
  width: 100%;
  background: lightpink;
}