.c-menu {
  position: fixed;
  z-index: 1030;
  background-repeat:no-repeat;
  background-size:cover;
  transition: transform 0.3s;
  text-align:center;
}
.mobile-menu-overlay {
	background:rgba(0, 0, 0, 0.7);
	padding: 90px 30px 0 25px;
	min-height: 100vh;
}
.c-menu__close {
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 1000;
}
.mobile-button-entry, 
.mobile-button-reg {
	padding:10px 0;
	color:#fff;
	font-size:18px;
	line-height: 1;
	border:0;
	outline:0;
	border-radius:4.4px;
	font-weight: 300;
	margin:15px 0;
	display: block;
	width: 100%;
}
.mobile-button-reg {
	margin-bottom:45px;
}
.select-wrapper {
	position:relative;
	margin:0 0 50px 0;
}
.select-wrapper:before {
	font-family: 'FontAwesome';
	content: "\f0d7";
	color: #fff;
	position: absolute;
	top: 8px;
	left: 0;
}
.c-menu select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	-ms-appearance: none;
	cursor: pointer;
	padding: 6px 0 6px 15px;
	color: #fff;
	background: transparent;
	border: 0;
	outline: 0;
	display: block;
	font-size: 16px;
	margin: 0 0 20px 0;
	border-bottom: 2px solid #E2DDDD;
	border-radius: 0;
	box-sizing: border-box;
	width:100;
	font-weight: 300;
}
.c-menu select::-ms-expand {
	display: none;
}
.mobile-menu-link {
	color: #fff;
	font-size: 18px;
	text-align: left;
	display: inline-block;
	width: 100%;
	background: transparent;
	margin: 0 0 35px 0;
	font-weight: 300;
	cursor: pointer;
}
.push-down-phone_number a:last-child {
	margin: 0 0 35px 0;
}
.mobile-phone-number {
	padding-top: 15px;
	position: relative;
	font-weight: 500;
	color: #fff;
	text-align: left;
	margin-bottom: 35px;
}
.mobile-phone-number span {
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: -10px;
	left: 0;
	font-weight: 300;
}
