.fc-timepicker-wrap {
	background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    position: absolute;
    right: 16px;
    top: -90px;
    width: 108px;
    z-index: 40;
    display:none;
}
.fc-timepicker-i-block {
	float:left;
	margin-left:4px;
}

.fc-timepicker-down,.fc-timepicker-up {
	display: block;
	margin-left:6px;
	cursor:pointer;
}

.fc-timepicker-inp{
	width:28px;
	text-align:center;
}
.fc-timepicker-content {
	margin:auto;
	width:68px;
}
