* {
	-webkit-overflow-scrolling: touch
}

.restaurant-page {
	font-family: 'Open Sans', sans-serif !important;
	z-index: 1;
	position: relative;
	.wrapper {
		position: relative;
	}
	.filters__content {
		display: block;
		padding: 0 15px;
	}
	.filters__toggler {
		color: #000;
		padding: 8px 15px 8px 15px;
		line-height: 19px;
	}
	.filters__radio-buttons label {
		padding: 5px 0 !important;
	}
	.filters__radio-buttons input[type="radio"]:checked+label {
		border: 0;
	}
	aside {
		padding-right: 0;
		+div {
			padding-left: 40px;
		}
	}
	.header__navbar-item_personal-account {
		position: relative;
		.points {
			position: absolute;
			right: 120%;
			top: 50%;
			transform: translate(0, -50%);
			border-radius: 4px;
			padding: 0 5px;
			max-height: 20px;
			display: inline-block;
			vertical-align: middle;
			color: #000;
			font-size: 14px;
			background-color: lighten(orange, 15%);
			&:after {
				content: '';
				position: absolute;
				left: 95%;
				top: 50%;
				transform: translate(0, -50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 14px;
				border-color: transparent transparent transparent lighten(orange, 15%);
			}
		}
	}
	.header__mobile-cart-wrapper {
		position: relative;
	}
	.header__navbar-item_cart {
		position: relative;
	}
	.cart-popup {
		display: block !important;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		background-color: $button-color;
		color: #fff;
		font-size: 15px;
		text-align: center;
		padding: 14px 15px;
		border-radius: 4px;
		min-width: 190px;
		right: 0;
		bottom: -55px;
		z-index: 3000;
		transition: all 0.4s;
		&:before {
			content: '';
			position: absolute;
			left: 75%;
			top: -7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 8px 12px;
			border-color: transparent transparent $button-color transparent;
		}
	}
}

.header__navbar_fixed .header__navbar-item_login {
	background-image: url(../img/log_in-icon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 50%;
	flex: 1 1 0%;
}

.no-scroll {
	overflow: hidden;
}