.restaurant-page {
	font-family: 'Open Sans', sans-serif !important;
	.wrapper {
		position: relative;
	}
	.filters__content {
		display: block;
	}
	.filters__toggler {
		color: #000;
	}
	aside {
		padding-right: 0;
		+ div {
			padding-left: 30px;
		}
	}
}

.restaurant-logo {
	background-color: #fff;
	padding: 25px;
	border: 1px solid $border-color;
	border-radius: 4px;
	margin-bottom: 40px;
	&__img {
		width: 100%;
		max-height: 227px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			display: inline-block;
			vertical-align: middle;
			height: auto;
			width: 100%;
		}
	}
}

.search-field {
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 13px;
	width: 100%;
	position: relative;
	&__input {
		display: block;
		width: 100%;
		border: 0;
		padding: 6px 15px;
		font-size: 14px;
		border: 1px solid $border-color;
		border-radius: 4px;
		&:focus {
			outline: 0;
			border: 1px solid #c9c9c9;
		}
	}
	&__btn {
		position: absolute;
		padding: 0;
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url(../img/search-icon.svg);
		background-size: 18px 18px;
		width: 18px;
		height: 18px;
		right: 7px;
		top: 9px;
		&:hover {
			cursor: pointer;
		}
	}
}

.goods-filter {
	margin-bottom: 15px;
	&__item {
		font-weight: bold;
		color: #000;
		text-decoration: none;
		font-size: 14px;
		display: block;
		padding: 13px 30px 11px 7px;
		position: relative;
		span {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			letter-spacing: -0.05em;
		}
		&.active,
		&:hover {
			background-color: $button-color;
			color: #fff !important;
			text-decoration: none;
		}
		&--more {
			&:after {
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-image: url(../img/arrow-right.png);
				width: 8px;
				height: 13px;
				top: 50%;
				transform: translate(0, -50%);
				right: 10px;
			}
		}
		&.active {
			&:after {
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-image: url(../img/arrow-down.png);
				width: 13px;
				height: 8px;
				top: 50%;
				transform: translate(0, -50%);
				right: 10px;
			}
		}
	}
}

.restaurant-block {
	background-color: #fff;
	padding: 25px 40px 0 40px;
	border: 1px solid $border-color;
	border-radius: 4px;
	margin-bottom: 40px;
	&__title-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $border-color;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	&__title {
		font-size: 24px;
		line-height: 24px;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		flex: 1px;
		margin-bottom: 0;
		letter-spacing: -0.05em;
	}
	&__raiting {
		margin-top: 0;
		margin-right: 0;
		margin-left: 17px;
		width: 140px;
		.company-block__stars-masks {
			width: 140px;
		}
	}
	&__info {
		.company-block__option-name {
			margin-bottom: 12px;
		}
		.company-block__option-value {
			font-weight: bold;
			font-size: 14px;
		}
	}
	&__descr {
		margin-top: 13px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 24px;
		word-wrap: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 70px;
	}
	&__panel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__tabs {
		font-size: 0;
		flex: 1;
	}
	&__tab-link {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		display: inline-block;
		vertical-align: middle;
		padding: 10px 39px;
		color: #000;
		border-bottom: 2px solid transparent;
		&.active {
			border-color: $button-color;
		}
		&:hover {
			text-decoration: none;
			color: #000;
			border-color: $button-color;
		}
	}
	&__favorites {
		position: relative;
		right: -21px;
		top: -3px;
		input {
			display: none;
		}
		label {
			background-repeat: no-repeat;
			background-image: url(../img/heart-empty.svg);
			background-size: 21px 19px;
			width: 21px;
			height: 19px;
			margin: 0;
			vertical-align: middle;
			&:hover {
				cursor: pointer;
			}
		}
		input:checked+label {
			background-image: url(../img/heart.svg);
		}
	}
}

.goods-block {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: 31%;
		border-radius: 4px;
		border: 1px solid $border-color;
		padding: 30px 18px 20px 18px;
		background-color: #fff;
		position: relative;
		a {
			color: #000;
			text-decoration: none;
		}
		&-img {
			padding-left: 20px;
			padding-right: 20px;
			img {
				display: block;
				height: auto;
				width: 100%;
			}
		}
		&-title {
			font-size: 18px;
			line-height: 24px;
			margin-top: 10px;
			margin-bottom: 20px;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			letter-spacing: -0.05em;
		}
		&-panel {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		&:hover {
			color: #000;
			text-decoration: none;
			.goods-tooltip {
				display: block;
			}
		}
	}
	&__favorites {
		top: 0;
		right: 0;
	}
	&__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 26px;
	}
	&__topcart-wrap {
		max-width: 95px;
	}
	&__tocart-btn {
		display: inline-block;
		border: 0;
		outline: 0;
		background: transparent;
		padding: 0;
		line-height: 1;
		background-color: $button-color;
		border-radius: 4px;
		border: 0;
		outline: 0;
		color: #fff;
		padding: 5px 10px;
		cursor: pointer;
		height: 30px;
		font-size: 14px;
		&:hover {
			background-color: #8f3c32;
		}
	}
	&__amount {
		font-size: 0;
		display: none;
		height: 30px;
		flex-direction: row;
		justify-content: space-between;
	}
	&__amount--plus,
	&__amount--minus {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		border: 0;
		color: #fff;
		background-color: $button-color;
		border-radius: 4px;
		width: 28px;
		height: 30px;
		&:hover {
			cursor: pointer;
			background-color: #8f3c32;
		}
		&:focus {
			outline: 0;
		}
	}
	&__amount--value {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		font-weight: bold;
		color: #000;
		text-align: center;
		max-width: 33px;
		height: 30px;
		border: 0;
		outline: 0;
		padding: 0;
		background-color: transparent;
	}
	&.active {
		display: flex;
	}
}

.goods-tooltip {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid $border-color;
	z-index: 3;
	min-width: 325px;
	right: 101%;
	bottom: 0;
	&:after {
		content: '';
		position: absolute;
		top: 60%;
		right: -19px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 0 30px 19px;
		border-color: transparent transparent transparent $border-color;
		z-index: 4;
	}
	&:before {
		content: '';
		position: absolute;
		top: 60%;
		right: -18px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 0 30px 19px;
		border-color: transparent transparent transparent #fff;
		z-index: 5;
	}
	&--first {
		left: 101%;
		&:after {
			left: -19px;
			border-width: 30px 19px 30px 0;
			border-color: transparent $border-color transparent transparent;
		}
		&:before {
			left: -18px;
			border-width: 30px 19px 30px 0;
			border-color: transparent #fff transparent transparent;
		}
	}
	&__img {
		display: block;
		height: auto;
		width: 100%;
	}
	&__descr {
		font-size: 14px;
		text-align: center;
		padding: 15px 15px;
		margin: 0;
	}
}

.goods-news {
	display: none;
	&__item {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px;
		border-radius: 4px;
		border: 1px solid $border-color;
		background-color: #fff;
		margin-bottom: 10px;
	}
	&__img {
		width: 100px;
		margin-right: 20px;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 20px;
		margin-top: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__info {
		width: calc(100% - 120px);
	}
	&__descr {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 0;
	}
	&__btn-wrap {
		text-align: right;
	}
	&__more {
		color: $button-color !important;
		font-size: 14px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: #8f3c32 !important;
		}
	}
	&.active {
		display: block;
	}
}

.goods-info {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	&__info {
		width: 195px;
		margin-right: 10px;
	}
	&__map {
		width: calc(100% - 205px);
		iframe {
			width: 100%;
			min-height: 100%;
		}
	}
	&__worktime {
		padding: 12px 30px 25px 30px;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid $border-color;
		margin-bottom: 10px;
		&-title {
			font-size: 12px;
			font-weight: 400;
			padding-left: 30px;
			position: relative;
			margin-top: 0;
			margin-bottom: 10px;
			color: $int-el-txt-color;
			&:before {
				content: '';
				position: absolute;
				top: 1px;
				left: 0;
				background-repeat: no-repeat;
				background-image: url(../img/clock-icon.svg);
				background-size: 15px 15px;
				width: 15px;
				height: 15px;
			}
		}
		&-wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		&-days {
			margin-right: 17px;
			span {
				display: block;
				position: relative;
				margin-bottom: 7px;
				font-size: 12px;
				line-height: 18px;
				color: #000;
				&.active {
					color: #d04040;
					&:before {
						content: '•';
						position: absolute;
						width: 3px;
						height: 3px;
						top: 3px;
						left: -13px;
						font-size: 20px;
					}
				}
			}
		}
		&-hours {
			flex: 1px;
			span {
				display: block;
				margin-bottom: 7px;
				font-size: 12px;
				line-height: 18px;
				color: #000;
				&.active {
					color: #d04040;
					position: relative;
				}
			}
		}
	}
	&__contacts {
		padding: 12px 30px 25px 30px;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid $border-color;
		margin-bottom: 10px;
	}
	&__email,
	&__site,
	&__tel {
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 7px;
		font-weight: 400;
		padding-left: 30px;
		position: relative;
		color: $int-el-txt-color;
		+span,
		+a {
			font-size: 12px;
			text-decoration: none;
			color: #000;
			display: inline-block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 1px;
			left: 0;
			background-repeat: no-repeat;
			background-size: 15px 15px;
			width: 15px;
			height: 15px;
		}
	}
	&__email:before {
		background-image: url(../img/mail-icon.svg);
	}
	&__site:before {
		background-image: url(../img/web-icon.svg);
	}
	&__tel:before {
		background-image: url(../img/tel-icon.svg);
	}
	&__categories {
		background-color: #fff;
		border: 1px solid $border-color;
		border-radius: 4px;
		&-link {
			display: block;
			padding: 12px 30px;
			text-decoration: none;
			color: #000;
			font-size: 12px;
			border-bottom: 1px solid $border-color;
			&:last-child {
				border-bottom: 0;
			}
			&:hover,
			&.active {
				color: #fff !important;
				background-color: $button-color;
				text-decoration: none;
			}
		}
	}
	&.active {
		display: flex;
	}
}

.goods-reviews {
	display: none;
	&__tabs {
		background-color: #fff;
		border: 1px solid $border-color;
		border-radius: 4px;
		margin-bottom: 10px;
		text-align: center;
	}
	&__tab {
		display: inline-block;
		padding: 10px 35px 8px 35px;
		border-bottom: 2px solid transparent;
		text-decoration: none;
		color: #000;
		font-size: 14px;
		&:hover,
		&.active {
			text-decoration: none;
			border-color: $button-color;
			color: #000;
		}
	}
	&__item {
		border: 1px solid $border-color;
		border-radius: 4px;
		background-color: #fff;
		margin-bottom: 10px;
		padding: 20px 20px 20px 35px;
		&--good {
			border-left: 3px solid $good-color;
			.goods-reviews__review {
				color: $good-color;
				&:after {
					background-image: url(../img/like-icon.svg);
				}
			}
		}
		&--bad {
			border-left: 3px solid $bad-color;
			.goods-reviews__review {
				color: $bad-color;
				&:after {
					background-image: url(../img/dislike-icon.svg);
				}
			}
		}
	}
	&__title-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		font-size: 14px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: calc(100% - 200px);
	}
	&__review {
		font-size: 14px;
		padding-right: 35px;
		position: relative;
		margin-bottom: 15px;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 2px;
			width: 19px;
			height: 17px;
			background-repeat: no-repeat;
			background-size: 19px 17px;
		}
	}
	&__descr {
		font-size: 14px;
		line-height: 24px;
	}
	&__date-wrap {
		text-align: right;
	}
	&__date {
		color: $int-el-txt-color;
		font-size: 14px;
	}
	&.active {
		display: block;
	}
}

.goods-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2000;
}

.goods-popup {
	display: none;
	position: absolute;
	z-index: 3000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	border-radius: 4px;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;
	max-width: 975px;
	&__half {
		width: 49%;
	}
	&__slider {
		display: block;
		width: 100%;
		position: relative;
		.owl-stage-outer {
			overflow: hidden;
			width: 100%;
		}
		.owl-item {}
		.owl-dots {
			bottom: 15px;
		}
	}
	&__slide {
		width: 100%;
		min-width: 448px;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__price {
		font-size: 30px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	&__tocart {
		.goods-block__tocart-wrap {
			text-align: center;
		}
		.goods-block__amount--plus,
		.goods-block__amount--minus {
			font-size: 36px;
			line-height: 36px;
			width: 48px;
			height: 48px;
			position: relative;
		}
		.goods-block__amount--minus:before {
			content: 'шт.';
			font-size: 30px;
			position: absolute;
			top: 50%;
			right: 60px;
			color: #000;
			transform: translate(0, -50%);
		}
		.goods-block__amount--value {
			font-size: 30px;
			font-weight: 400;
			max-width: 115px;
			padding-left: 22px;
			text-align: left;
		}
	}
	&__tocart-btn {
		height: auto;
		width: 100%;
		border: 0;
		border-radius: 4px;
		color: #fff;
		background-color: $button-color;
		font-size: 24px;
		padding: 8px 10px;
		&:hover {
			background-color: #d04040;
		}
	}
	&__title {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 13px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 90%;
		max-height: 50px;
	}
	&__descr {
		max-height: 535px;
		overflow-y: scroll;
		font-size: 18px;
		line-height: 24px;
		margin: 0;
		word-wrap: break-word;
	}
	&__close {
		position: absolute;
		width: 30px;
		height: 30px;
		cursor: pointer;
		top: 20px;
		right: 20px;
		border: 0;
		background-color: transparent;
		padding: 0;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 3px;
			width: 30px;
			height: 1px;
			background: black;
			transform: rotate(45deg);
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 3px;
			width: 30px;
			height: 1px;
			background: black;
			transform: rotate(135deg);
		}
		&:hover {
			background-color: transparent!important;
			&:before,
			&:after {
				background: lighten(black, 40%);
			}
		}
		&:focus {
			outline: 0;
		}
	}
	&__charac-block {
		margin-top: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__charac-name {
		width: 49%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
		font-size: 24px;
		line-height: 25px;
		margin: 0;
	}
	&__charac-select {
		width: 49%;
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid $border-color;
		padding: 5px 10px;
		padding-right: 35px;
		font-size: 24px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		background-repeat: no-repeat;
		background-image: url(../img/arrow-down.svg);
		background-size: 15px 10px;
		background-position: 95% 50%;
		-webkit-appearance: none;
		appearance: none;
		&:focus {
			outline: 0;
		}
	}
	&--charac {
		.goods-popup__info {
			display: flex;
			flex-direction: column;
		}
		.goods-popup__descr {
			max-height: 385px;
		}
	}
}

@media (max-width: 5000px) {
	.restaurant-page {
		.container {
			width: 1210px;
		}
	}
}

@media (max-width: 1199px) {
	.restaurant-page {
		.container {
			width: 95%;
		}
	}
	.restaurant-block {
		&__descr {
			font-size: 13px;
			line-height: 20px;
		}
		&__raiting {
			top: 0;
		}
	}
	.goods-block {
		&__item {
			width: 32%;
			padding: 27px 15px 18px 15px;
			&-title {
				font-size: 15px;
			}
		}
		&__price {
			font-size: 15px;
		}
		&__tocart-btn {
			font-size: 13px;
		}
		&__amount--plus,
		&__amount--minus {
			width: 25px;
			height: 25px;
		}
		&__amount--value {
			font-size: 16px;
			max-width: 30px;
		}
	}
	.goods-news {
		&__title {
			font-size: 16px;
			margin-bottom: 15px;
		}
		&__more {
			font-size: 13px;
		}
	}
	.goods-reviews__descr {
		line-height: 20px;
	}
	.goods-popup {
		&__slide {
			min-width: 100%;
		}
		&__price {
			font-size: 25px;
		}
		&__tocart {
			.goods-block__amount--plus,
			.goods-block__amount--minus {
				width: 36px;
				height: 36px;
				font-size: 20px;
				line-height: 20px;
			}
			.goods-block__amount--minus:before {
				font-size: 20px;
				right: 53px;
			}
			.goods-block__amount--value {
				font-size: 20px;
				max-width: 85px;
				padding-left: 15px;
			}
		}
		&__title {
			font-size: 20px;
		}
		&__descr {
			font-size: 16px;
			line-height: 20px;
			max-height: 423px;
		}
		&__charac {
			&-name {
				font-size: 20px;
				line-height: 20px;
			}
			&-select {
				font-size: 20px;
			}
		}
		&--charac {
			.goods-popup__descr {
				max-height: 323px;
			}
		}
	}
}

@media (max-width: 991px) {
	.goods-filter {
		&__item {
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.restaurant-block {
		padding-top: 15px;
		&__title {
			font-size: 17px;
			padding-bottom: 10px;
		}
		&__descr {
			font-size: 11px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&__tab-link {
			font-size: 9px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.goods-block {
		&__item {
			width: 48%;
			margin-bottom: 20px;
			&-title {
				font-size: 12px;
			}
			&:hover {
				.goods-tooltip {
					display: none;
				}
			}
		}
		&__price {
			font-size: 12px;
		}
		&__tocart-btn {
			font-size: 12px;
		}
	}
	.goods-news {
		&__title {
			font-size: 17px;
		}
		&__descr {
			font-size: 14px;
		}
		&__more {
			font-size: 14px;
		}
	}
	.goods-reviews {
		&__tab {
			font-size: 12px;
			padding-left: 27px;
			padding-right: 27px;
		}
		&__title {
			font-size: 12px;
		}
		&__review {
			font-size: 12px;
		}
		&__descr {
			font-size: 12px;
		}
		&__date {
			font-size: 12px;
		}
	}
	.goods-popup {
		&__title {
			font-size: 15px;
			line-height: 18px;
			font-weight: bold;
		}
		&__descr {
			font-size: 15px;
			max-height: 303px;
		}
		&__price {
			font-size: 18px;
		}
		&__charac {
			&-name {
				font-size: 15px;
				line-height: 15px;
			}
			&-select {
				font-size: 15px;
			}
		}
		&--charac {
			.goods-popup__descr {
				max-height: 245px;
			}
		}
	}
}