.restaurant-page {
	.filters__content {
		display: block;
	}
	.filters__toggler {
		color: #000;
	}
	aside {
		padding-left: 0;
		+div {
			padding-right: 0;
		}
	}
}

.restaurant-logo {
	background-color: #fff;
	padding: 25px;
	border: 1px solid $border-color;
	border-radius: 4px;
	margin-bottom: 40px;
	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.search-field {
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 13px;
	width: 100%;
	position: relative;
	&__input {
		display: block;
		width: 100%;
		border: 0;
		padding: 9px 15px;
		font-size: 14px;
		border: 1px solid $border-color;
		border-radius: 4px;
		&:focus {
			outline: 0;
			border: 1px solid #c9c9c9;
		}
	}
	&__btn {
		position: absolute;
		padding: 0;
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url(../../img/search-icon.svg);
		width: 24px;
		height: 24px;
		right: 7px;
		top: 9px;
		&:hover {
			cursor: pointer;
		}
	}
}

.goods-filter {
	margin-bottom: 15px;
	&__item {
		font-weight: bold;
		color: #000;
		text-decoration: none;
		font-size: 14px;
		display: block;
		padding: 15px 5px;
		position: relative;
		span {
			max-width: 245px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
		}
		&.active,
		&:hover {
			background-color: $button-color;
			color: #fff;
			text-decoration: none;
		}
		&--more {
			&:after {
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-image: url(../../img/arrow-right.png);
				width: 8px;
				height: 13px;
				top: 20px;
				right: 5px;
			}
		}
		&.active {
			&:after {
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-image: url(../../img/arrow-down.png);
				width: 13px;
				height: 8px;
				top: 23px;
				right: 5px;
			}
		}
	}
}

.restaurant-block {
	background-color: #fff;
	padding: 25px 40px 0 40px;
	border: 1px solid $border-color;
	border-radius: 4px;
	margin-bottom: 40px;
	&__title-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;
		margin-bottom: 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: calc(100% - 200px);
	}
	&__raiting {
		margin-top: 0;
		margin-right: 0;
		top: 4px;
	}
	&__info {
		.company-block__option-value {
			font-weight: bold;
		}
	}
	&__descr {
		margin-top: 18px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 24px;
	}
	&__panel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__tabs {
		font-size: 0;
	}
	&__tab-link {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		display: inline-block;
		vertical-align: middle;
		padding: 10px 40px;
		color: #000;
		border-bottom: 2px solid transparent;
		&.active {
			border-color: $button-color;
		}
		&:hover {
			text-decoration: none;
			color: #000;
			border-color: $button-color;
		}
	}
	&__favorites {
		input {
			display: none;
		}
		label {
			background-repeat: no-repeat;
			background-image: url(../../img/heart-empty.svg);
			background-size: 21px 19px;
			width: 21px;
			height: 19px;
			margin: 0;
			vertical-align: middle;
		}
		input:checked+label {
			background-image: url(../../img/heart.svg);
		}
	}
}

.goods-block {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	&__item {
		width: 31%;
		border-radius: 4px;
		border: 1px solid $border-color;
		padding: 30px 18px 20px 18px;
		background-color: #fff;
		position: relative;
		&-img {
			padding-left: 20px;
			padding-right: 20px;
			img {
				display: block;
				height: auto;
				width: 100%;
			}
		}
		&-title {
			font-size: 18px;
			line-height: 24px;
			margin-top: 10px;
			margin-bottom: 20px;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&-panel {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		&:hover .goods-tooltip {
			display: block;
		}
	}
	&__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 26px;
	}
	&__to-cart {
		border: 0;
		outline: 0;
		background: transparent;
		padding: 0;
		display: inline-block;
		line-height: 1;
		background-color: $button-color;
		border-radius: 4px;
		border: 0;
		outline: 0;
		color: #fff;
		padding: 5px 10px;
		cursor: pointer;
		height: 30px;
		font-size: 14px;
		&:hover {
			background-color: #8f3c32;
		}
	}
	&.active {
		display: flex;
	}
}

.goods-tooltip {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid $border-color;
	z-index: 3;
	min-width: 325px;
	right: 101%;
	bottom: 0;
	&:after {
		content: '';
		position: absolute;
		top: 60%;
		right: -19px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 0 30px 19px;
		border-color: transparent transparent transparent $border-color;
		z-index: 4;
	}
	&:before {
		content: '';
		position: absolute;
		top: 60%;
		right: -18px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 0 30px 19px;
		border-color: transparent transparent transparent #fff;
		z-index: 5;
	}
	&--first {
		left: 101%;
		&:after {
			left: -19px;
		border-width: 30px 19px 30px 0;
		border-color: transparent $border-color transparent transparent;
	}
	&:before {
		left: -18px;
		border-width: 30px 19px 30px 0;
		border-color: transparent #fff transparent transparent;
	}
	}
	&__img {
		display: block;
		height: auto;
		width: 100%;
	}
	&__descr {
		font-size: 14px;
		text-align: center;
		padding: 15px 15px;
		margin: 0;
	}
}

.goods-news {
	display: none;
	&__item {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px;
		border-radius: 4px;
		border: 1px solid $border-color;
		background-color: #fff;
		margin-bottom: 10px;
	}
	&__img {
		width: 100px;
		margin-right: 20px;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 20px;
		margin-top: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__info {
		width: calc(100% - 120px);
	}
	&__descr {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 0;
	}
	&__btn-wrap {
		text-align: right;
	}
	&__more {
		color: $button-color;
		font-size: 14px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: #8f3c32;
		}
	}
	&.active {
		display: block;
	}
}