.restaurant-page {
	font-family: 'Open Sans', sans-serif !important;
	z-index: 1;
	position: relative;
	.wrapper {
		position: relative;
	}
	.filters__content {
		display: block;
	}
	.filters__toggler {
		color: #000;
	}
	aside {
		padding-right: 0;
		+div {
			padding-left: 30px;
		}
	}
}

.no-scroll {
	overflow: hidden;
}